h1 {
  text-align: center;
}

.choice {
  text-align: center;
}

.card{
  border-color: orange;
  padding: 10px;
  line-height: 1rem;
}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: orange;
  text-align: center;
}

h5{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: orange;
}

hr{
  background-color:rgb(14, 99, 124);
}

.itemSearch {
  margin-left: 10px;
}


label{
  font-family: 'Times New Roman', Times, serif;
  color:rgb(14, 99, 124);
  
}
.postButton {
  display: block;
  margin: 0 auto;
  background-color: rgb(14, 99, 124);
  color:orange;
  font-weight: bold;
}


.buy {
  margin-left:10px;
}

.item-card{
  border-color:  rgb(14, 99, 124);
  display:inline-block;
}

.card-img{
  height:100px;
}

.bot{
  height:300px;
}

.bid{
  margin-left:20px;
}

.file-select {
  border: 2px solid #dce4ec;
  background:#34495e;
  cursor:pointer;
  line-height:2rem;
  background:#dce4ec;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}


.file-upload .file-select:hover{border-color:#34495e;}

.file-upload .file-select:hover {background-color:#34495e;}

.fun{
  color: rgb(14, 99, 124);
}

option{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 99, 124);
}

li{
list-style: none;
font-family: Arial, Helvetica, sans-serif ;
color:  rgb(14, 99, 124);
}