.nav-link {
    color: rgb(14, 99, 124) !important;
    font-family: Arial, Helvetica, sans-serif;
    position:right;
    font-weight: bold;
    font-size: larger;
}

.navbar{
    border-bottom: 1px solid rgb(14, 99, 124);
}

.navbar-brand{
    color:orange !important;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


  span{
      color:orange;
  }

  .logo{
    color: rgb(14, 99, 124)
  }


  .navbar-toggler{
      background-color:  rgb(14, 99, 124);
     
  }